doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Latest compiled and minified CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  // jQuery library
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  // Popper JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  // Latest compiled JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  title Payment
.card.bg-white
  .card-header
    a.btn.btn-outline-light(href='homePage.html' role='button')
      img(src='../resources/img/TextBuddy_heading.png' alt='TextBuddy' width='232px' height='50px')
br
center
  .container-fluid
    .card.text-left(style='width: 20cm')
      .form-group.col-md.6
        br
        p
          | Dear User,
          br
          br
          |  TextBuddy currently does not support any payment services. Therefore, in order to make and receive payments, please contact the buyer/seller directly.
          br
          |  Sorry for the inconveniences.
          br
          br
          |  Thank you for your understanding, 
          br
          | TextBuddy
        br
