doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    // Popper JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='../resources/js/login_script.js')
    link(rel='stylesheet', type='text/css', href='../resources/css/signUp.css')
    title Sign Up
  body(style='background-color:rgb(228, 210, 87);', onload='loadValidationRequirements()')
    .card.bg-white
      .card-header
        a.btn.btn-outline-light(href='homePage.html', role='button')
          img(src='../resources/img/TextBuddy_heading.png', alt='TextBuddy', width='232px', height='50px')
    br
    // page body
    br
    .container
      p.text-center(style='font-size:170%;')
        | Hi! Welcome to TextBuddy!
      p.text-center(style='font-size:170%;')
        | Please login or create an account to view textbook listings or class forums.
    br
    center
      .card.text-center(style='width: 20cm')
        br
        center
          h3 Create a New TextBuddy Account
        br
        form
          .container-fluid
            .form-row
              .form-group.col-md-6
                label(for='firstNameInput') First Name:
                input#firstNameInput.form-control(type='text', placeholder='First Name', style='width:9cm', required='')
              .form-group.col-md-6
                label(for='LastNameInput') Last Name:
                input#LastNameInput.form-control(type='text', placeholder='Last Name', style='width:9cm', required='')
          .container-fluid
            .form-row
              .form-group.col-md-6
                label(for='usernameInput') Username:
                input#usernameInput.form-control(type='text', placeholder='Username', style='width:9cm', required='')
              .form-group.col-md-6
                label(for='passwordInput') Password:
                input#passwordInput.form-control(type='password', placeholder='Password', style='width:9cm', required='')
          .container-fluid
            .form-row
              .form-group.col-md-6
                label(for='emailInput') Email:
                input#emailInput.form-control(type='text', placeholder='Email', style='width:9cm', required='')
                small#emailMessage Enter an email
              .form-group.col-md-6
                label(for='confirmPasswordInput') Confirm Password:
                input#confirmPasswordInput.form-control(type='password', placeholder='Confirm Password', style='width:9cm', required='')
          #message(style='display:block')
            h5 Password must contain the following:
            p#letter.invalid
              | A 
              b lowercase
              |  letter
            p#capital.invalid
              | A 
              b capital (uppercase)
              |  letter
            p#number.invalid
              | A 
              b number
            p#length.invalid
              | Minimum 
              b 8 characters
            p#match.invalid Password and Confirm Password Match
          br
          .container-fluid
            .form-row
              .form-group.col-md-6
                button.btn.btn-outline-dark(href='home.html', role='button', type='submit', onclick='return validatePassword()') Create Account
              .form-group.col-md-6
                .form-check.form-check-inline
                  input#cuStudent.form-check-input(type='radio', name='studentStatus', value='CU Student', required='')
                  label.form-check-label(for='cuStudent') CU Student
                .form-check.form-check-inline
                  input#noncuStudent.form-check-input(type='radio', name='studentStatus', value='Non-CU Student', required='')
                  label.form-check-label(for='noncuStudent') Non-CU Student
          br
    .form-group
      center
        small#accountHelp.form-text.text-muted Already have an account?
        a.btn.btn-info(href='loginPage.html', role='button') Login
