/*css file*/
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -15px;
  content: '\2713';
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -15px;
  content: '\00D7';
}
